* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  margin: 0;
  padding: 0;
  max-width: 100%;
  text-align: center;
}

/*back row of navigation bar*/
.navbar-header {                        
  margin-top: 0;
  padding: 0;
  height: 120px;
  width: 100%;
  background-color: antiquewhite;
  position: 100%;                 
  top: 0;    
}

/*top row of navigation bar*/
.navbar-main {
  margin-top: 0;
  margin-left: 0;
  padding: 0;
  height: 58px;
  width: 100%;
  background-color: rgb(48, 213, 200);
}

.nav-logo {
  margin-top: 2px;
  margin-right: 10px;
  margin-bottom: 4px;
  margin-left: 0;
  height: 50px;
  padding: 0;
  float: left;  
  background-color: rgb(48, 213, 200);
}

.tosspi-bag-logo {
  background-color: rgb(48, 213, 200);
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 2px;
  margin-left: 5px;
  height: 47px;
  width: 50px;
  padding: 0;
  float: left;
}

.mens-clothing-pic, .womens-clothing-pic, .toys-pic, .pets-pic, .sports-pic, .tools-pic, .kids-pic, .outdoors-pic {
  background-color: antiquewhite;
  margin-top: 65px;
  margin-right: 6px;
  height: 40px;
}

.login-logo {
  background-color: rgb(48, 213, 200);
  margin-top: 4px;
  margin-right: 15px;
  height: 50px;
  width: 50px;
  float: right;
}

.view-all {
  background-color: antiquewhite;
  margin-top: 72px;
  float: right;
  margin-left: 10px;
  margin-right: 25px;
  height: 35px;
}

/*MainContent area for css styling.*/
.container {
  margin: 0;
  height: 500px;
  width: 100%;
}

.maincontent--facts > li {
  padding-block: 5px;
}

/*product card and its related components*/
.card {
  background-color: rgb(48, 213, 200);
  margin-top: 80px;
  margin-left: 125px;
  width: 300px;
  height: 450px;
  font-size: 14px;
}

.gray {
  color: gray;
}

.card-tool-image {
  width: 100%;
  border-radius: 12px;

}

.card-reviews {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.item-description {
  font-weight: bold;
  margin-left: 75px;
  align-items: center;
}

.item-pricing {
  margin-left: 75px;
  align-items: center;
}

.five-star-review {
  background-color: rgb(48, 213, 200);
  display: flex;
  align-items: center;
  margin-top: 0;
  width: 100px;
  height: 50px;
}

/*Contact info css styling in maincontent area.*/
.contact-card {
  background-color: rgb(48, 213, 200);
  Height: 200px;
  width: 200px;
  margin-top: 0;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
  border-radius: 10px;
  border-color: black;
  border-width: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.MJ-Headshot {
  padding: 0;
  margin-top: 10px;
  height: 100px;
}

.Phone-Pic {
  background-color: antiquewhite;
  padding: 0;
  margin-top: 3px;
  margin-left: 5px;
  height: 15px;
  width: 15px;
  float: left;
}

.Email-Pic {
  background-color: antiquewhite;
  padding: 0;
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 0;
  height: 15px;
  width: 15px;
  float: left;
}

.ContactText {
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  margin-left: 0;
}


/*Footer*/
.footer {                             /*styling for footer on DOM*/
  display: block;
  padding: 0;
  text-align: center;                 /*text placement is centere at the bottom of the DOM.*/
  color: black;                     /*text color*/
  background-color: rgb(48, 213, 200);
  position: absolute;                 
  margin-bottom: 0;                   /*places the footer at the bottom of the DOM.*/
  padding-bottom: 0;
  width: 100%;                        /*sets width of footer in DOM.*/
  height: 40px;                       /*sets height of footer in DOM.*/
}

