/*top row of navigation bar*/
.navbar-top {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-left: 0;
  padding: 0;
  height: 60px;
  width: 100%;
  background-color: rgb(48, 213, 200);
}


/*Navigation search all button*/
.all {
  margin-top: 10px;
  background-color: orange;
  color: black;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
}

nav input {
  flex: 1;
  padding: 10px;
  font-size: 17px;
  width: 500px;
  outline: none;
  border: none;
  background-color: antiquewhite;
  color: #000;
}

nav button.search {
  background-color: orange;
  border-radius: 0 5px 5px 0;
  border: none;
  outline: none;
  padding: 10px;
  cursor: 10px;
}


/*bottom row of navigation bar*/
.navbar-bottom {
  margin-top: 0;
  margin-left: 0;
  padding: 0;
  height: 60px;
  width: 100%;
  background-color: antiquewhite;

}
.navright-login {
  display: flex;
  align-items: center;
}

.item {
  padding: 10px 10px;
}

.item:hover {
  border: 1px solid #fff;
  border-radius: 2px;
  margin: 1px;
}

/*Anchor styling */
a {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

a:hover {
  bottom: 1px solid #fff;
  margin: -1px;
  background-repeat: 3px;
}

a:span {
  font-size: 14px;
  margin-left: -10px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 5;
}

h5 {
  margin: 0;
  padding: 0;
}

.item i{
  padding: 0 5px;

}

/*images*/
/*top nav bar images*/
.tosspi-bag-logo {
  background-color: rgb(48, 213, 200);
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 2px;
  margin-left: 5px;
  height: 47px;
  width: 50px;
  padding: 0;
  float: left;
}

.tosspi-logo {
  margin-top: 2px;
  margin-right: 10px;
  margin-bottom: 4px;
  margin-left: 0;
  height: 50px;
  padding: 0;
  background-color: rgb(48, 213, 200);
  float: left;
}

.login-logo {
  margin-top: 4px;
  margin-right: 20px;
  height: 50px;
  width: 100px;
  margin-left: auto; /*pushes logo img to the right*/
}

.cart-logo {
  margin-top: 4px;
  margin-right: 25px;
  height: 50px;
  width: 75px;
  margin-left: auto;
  background-color: rgb(48, 213, 200);
}

.product-categories-logo
{
  margin-top: 4px;
  margin-left: 4px;
  float: left;
  height: 50px;
  width: 200px;
}
 
/*bottom nav bar images*/
.mens-clothing-pic, .womens-clothing-pic, .toys-pic, .pets-pic, .sports-pic, .tools-pic, .kids-pic, .outdoors-pic {
  background-color: antiquewhite;
  margin-top: 10px;
  margin-right: 6px;
  height: 40px;
} 

 .view-all-categories-img {
  margin-top: 7px;
  margin-right: 65px;
  height: 45px;
  width: 100px;
  float: right;
}

.MJ-Headshot {
  padding: 0;
  margin-top: 10px;
  height: 100px;
}

.Phone-Pic {
  background-color: rgb(48, 213, 200);
  padding: 0;
  margin-top: 1px;
  margin-left: 0;
  height: 17px;  width: 17px;
  float: left;
}

.Email-Pic {
  background-color: rgb(48, 213, 200);
  padding: 0;
  margin-top: 1px;
  margin-left: 0;
  margin-right: 0;
  height: 17px;
  width: 17px;
  float: left;
}

.five-star-review {
  background-color: antiquewhite;
  margin-left: 0;
  margin-top: 0;
  width: 60px;
  height: 30px;
}

/*MainContent area for css styling.*/
.container {
  margin: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.maincontent--facts > li {
  padding-block: 5px;

}

/*product card and its related components*/
.card {
  background-color: antiquewhite;
  border-radius: 15px;
  margin-top: 70px;
  margin-bottom: 15px;
  margin-left: 125px;
  width: 300px;
  height: 300px;
  font-size: 13px;
}

.gray {
  margin-top: 5px;
  margin-left: 4px;
  color: black;
  font-size: 13px;
}

.card-tool-image {
  margin-top: 15px;
  border-radius: 15px;
  height: 180px;
  width: 180px;
}

.card-reviews {
  display: flex;
  margin-top: 10px;
  margin-left: 105px;
  }

.item-description {
  font-weight: bold;
  margin-left: 5px;
  align-items: center;
}

.item-pricing {
  margin-left: 5px;
  align-items: center;
}


/*Contact info css styling in maincontent area.*/
.contact-card {
  background-color: rgb(48, 213, 200);
  Height: 200px;
  width: 200px;
  margin-top: 0;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
  border-radius: 10px;
  border-color: black;
  border-width: 5px;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.maincontent--title {
  padding-top: 100px;
}

.ContactText {
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  margin-right: 0;
  margin-left: 0;
}


/*Footer*/
.mainfooter {                             /*styling for footer on DOM*/
  display: block;
  background-color: rgb(48, 213, 200);
  /*padding: 0;*/
  /*text-align: center;                 /*text placement is centere at the bottom of the DOM.*/
  /*color: black;                     /*text color*/
  /*position: absolute;*/                 
  margin-bottom: 0;                   /*places the footer at the bottom of the DOM.*/
  /*padding-bottom: 0;
  width: 100%;                        /*sets width of footer in DOM.*/
  /*height: 40px;                       /*sets height of footer in DOM.*/
}

.mainfooter-inner {
  display: flex;
  flex-direction: column;
  background-color: rgb(48, 213, 200);
  height: 500px;
  margin-bottom: 0;
}