/*primary container to see where things are on page.*/
.container {
  padding: 20px;
  text-align: center;
  border: 3px solid red;
  margin-left: 100px;
  margin-right: 100px;
}

/*h1 from index.html at top of page.*/
.header {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 2em;
}

/*box for color fetched from axios to be displayed.*/
.color-box {
  width: 400px;
  height: 200px;
  margin: 10px auto;
  display: flex;
  border: 3px solid blue;
  justify-content: center;
  align-items: center;
}

/*button*/
.teal-button {
  background-color: bisque;
  color: black;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 24px;
}

.teal-button:hover {
  background-color: orange;
  color: black;
  font-size: 24px;
}
