* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

main {
  padding: 100px;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
}

.troll-image {
  float: left;
  height: 50px;
  width: 50px;
  margin-right: 6px;

}

.header-title {
  font-size: 1.25rem; /*20px/16px = 1.25rem*/
  margin-right: auto;
}

.header-text {
  font-size: .75rem; /*12px/16px = .75rem*/
  font-weight: 500;
}

.meme-form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.meme-form-input {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.meme-button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  border: none;
  cursor: pointer;
}